html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

.controls {
    position: relative;
    left: 0;
    font-size: 0.6cm;
    min-width: 11cm;
    padding: 1cm;
    color: #e8e6e3;
    background-color: #000000e0;
    transition: .5s ease;
}

.controls:hover {
    left: -11cm;
}

html {
    background-color: #000000;
}

a {
    color: #3391ff;
}